@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Roboto";
    color: #333;
    font-weight: 300;
    font-size: large;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #198753;
    font-weight: 400;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: #333;
}

.navbar a:hover {
    color: #198753;
}

.content {
    max-width: 80%;
    margin: 40px auto;
    padding: 10px;
}

.h1 {
    text-align: left;
    font-weight: 400;
}

.button {
    font-weight: 300;
    color: #198753;
}

.h2 {
    font-weight: 400;
}

.h4 {
    font-weight: 400;
    color: #198753;
}

.languageData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.italics {
    font-style: italic;
}

.Collapsible__trigger {
    font-style: italic;
    text-decoration: underline;
}

.Collapsible__trigger:hover {
    font-size: large;
    color: #198753;
    text-decoration-color: #198753;
}

.map {
    height: 500px;
}

.leaflet-container {
    height: 500px;
}

.box {
    margin: 2.5%;
    padding: 5%;
    text-align: left;
}